<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824415998653-1gio6evrvuqdus8nta2k1kvrmbpbd4jl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824415998653-1gio6evrvuqdus8nta2k1kvrmbpbd4jl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>824415998653-m1kb99hn079jeol8rkrllu3qh8ilrep9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAxWleyL-_LIXiSPmU9R9akV2DTMeJG5DE</string>
	<key>GCM_SENDER_ID</key>
	<string>824415998653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.webrtc</string>
	<key>PROJECT_ID</key>
	<string>webrtc-20658</string>
	<key>STORAGE_BUCKET</key>
	<string>webrtc-20658.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824415998653:ios:65a2ec440a4dd695a5ddd4</string>
	<key>DATABASE_URL</key>
	<string>https://webrtc-20658-default-rtdb.firebaseio.com</string>
</dict>
</plist>